.App {
  text-align: center;
}



#header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}

#collection {
  background-color: #384e7a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}

.card{
  width: 25%;
  margin: 20px;
}

body{
  background-color: #384e7a;
}



