.App {
  text-align: center;
}



#header {
  height: 100px;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}

#collection {
  min-height: 100%;
  background-color: #384e7a;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
  width: 50%;
  margin: 0px;
}

.card{

  margin: 20px;
  height: 200px;
  width: 100%;

  
}

#cards {
  float: left;
  background-color: #5071b1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 50px;
  padding-top: 400px;
  width: 47%;
  height: 400px;
  margin: 20px;
  margin-top: 85px;
  border-radius: 15px;


}

#cards .card{
  margin: 0px;
  margin-bottom: 150px;
  margin-top: 40%;
  height: 100%;
  width: 100%;
}

